@font-face {
    font-family: 'HYWenHei';
    src: url('fonts/HYWenHei.ttf') format('truetype'); /* Or .woff if using that format */
}
@font-face {
    font-family: 'oswald';
    src: url('fonts/oswald.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
box-sizing: border-box;

font-family:'HYWenHei';
color: white;



}
html,body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 15px;
    width: 15px;
    background-color:rgb(61, 217, 237);
    border-radius: 50%;
    position: fixed;
    z-index: 99;

}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: rgba(145, 239, 208, 0.381);
    border-radius: 50%;
    position: fixed;
    filter: blur(30px);
    z-index: 9;

}
#nav
{
    height: 150px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;

}
#nav img{
    height: 150px;
    
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'HYWenHei', sans-serif;
   

}
video{
    height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;




}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.122)
}
#page1{
  
    height: 100vh;
    
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    padding-top: 60px;
   
}
#page1 h1{
    font-size: 80px;
    font-weight: 500; 
    position: relative;
    
}
/*psuedo element*/
#page1 h1::before{ 
content: "YOUR ADVENTURE BEGINS HERE" ;
position: absolute;
color: black;
bottom: -5px;

left: -4px;

z-index: -1;
}               
#page1 h2{
    font-size: 40px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 30px;
}
#page1 p{
    font-size: 20px;
    font-weight: 100;
    width: 50%;
   padding-top: 30px;
}
#page2{
    min-height: 100vh;
    
    width: 100%;
    z-index: 10;
}
#scroller{
     
    white-space: nowrap;
    overflow-x:auto ;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 23s;
    animation-timing-function:  linear;
    animation-iteration-count: infinite;
}
::-webkit-scrollbar{
    display: none ;
}

#scroller h4{
    display: inline-block ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 100px;
    font-weight: 500;
    font-family: 'oswald',sans-serif;
    margin-right: 40px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px rgb(61, 217, 237);
    
}
#scroller h4:hover{
    color: aquamarine;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
#about{
    margin-top: 50px;
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0px 10px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;


}
#about img{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    object-fit: cover;
}
#about-in{
    width: 40%;
    text-align: center;
    
}
#about-in h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40PX;
}
#about-in p{
    font-size: 15px;
}
#cards-container {
   margin-top: 30px;
/* background-color: red; */
width: 100%;
height:75vh;
display: flex;
align-items: center;
justify-content: center;
gap: 90px;
position: relative;
z-index: 10;

}
.card{
    height: 80%;
    width: 25%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.4s;
}
#card1{
    background-image: url(images/13.jpeg);
    height: 500px;
}
#card2{
    background-image: url(images/10.jpeg);
    height: 500px;
}
#card3{
    background-image: url(images/12.jpeg);
    height: 500px;
}
.overlay{
   
    height: 100%;
    width: 100%;
    background-color: rgb(61, 217, 237);
    padding: 50px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.4s;
}
.overlay h4{
    color: black;
    font-size: 30px;
   
}
.overlay p{
    margin-top: 30px;
    color: black;
    font-weight: 50;
}
.card:hover .overlay{
    opacity: 1;

}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#divv{
    margin-top: 100px;
    /* background-color: red; */
    
}
#divv img{
    height:100px ;
    padding-left: 18%;
}#divv h4{
    align-items: center;
    padding-left: 28.5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#page3{
    height: 100vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

}
#page3 p{
    
    font-size: 25px;
    font-weight: 500;
    width: 60%;
    line-height: 45px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px ;
}
#page3 #colon1{
    left: 10%;
    top: 20%;
}
#page3 #colon2{
    right: 10%;
    bottom: 20%;
}   
#page4{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position:relative;
}
.elem{
    height: 70%;
    width: 28%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: rgb(61, 217, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 200;
    font-size: 35px;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;

}
.elem:hover h2{
    color: rgb(61, 217, 237);
    background-color: transparent;

}
.elem:hover img{
   scale: 1;

}
#page4 h1{
    color: black;
    font-size: 80px;
    position: absolute;
    top: -20%;
    font-weight: 200;
   
    -webkit-text-stroke: 2px rgb(61, 217, 237);
   font-style: italic;
 

    


}
#footer{
    height: 40vh;
    width: 100%;
    background:linear-gradient(to left bottom,rgb(61, 217, 237),rgb(11, 16, 14));
    position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 150px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }